#!/bin/bash
# ALEO snarkOS Node Start Script
# Runs as a network node (not prover mode)

exec ${ALEO_DIR}/bin/snarkos start \
    --nodisplay \
    --node ${ALEO_LISTEN}:4130 \
    --rest 127.0.0.1:${ALEO_REST_PORT} \
    --log ${ALEO_DIR}/logs/snarkos.log \
    --verbosity 1
