# Tari Pool Wallet Configuration

[wallet]
network = "${TARI_NETWORK}"
grpc_enabled = true
grpc_address = "127.0.0.1:${TARI_WALLET_GRPC_PORT}"
data_dir = "${TARI_DIR}/wallet/data"
password = "${XTM_WALLET_PASSWORD}"

[wallet.base_node]
# Connect to local base node gRPC
grpc_address = "127.0.0.1:${TARI_NODE_GRPC_PORT}"
