[Unit]
Description=CKPool Bitcoin Cash Stratum Server
After=node-bch-bchn.service
Requires=node-bch-bchn.service

[Service]
Type=simple
User=${POOL_USER}
Group=${POOL_USER}

WorkingDirectory=${BCH_CKPOOL_DIR}
ExecStart=${BCH_CKPOOL_DIR}/bin/ckpool -c ${BCH_CKPOOL_DIR}/ckpool.conf -l ${BCH_CKPOOL_DIR}/logs

Restart=on-failure
RestartSec=10

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
