[Unit]
Description=P2Pool Decentralized Monero Mining Pool
After=node-xmr-monerod.service
Requires=node-xmr-monerod.service

[Service]
Type=simple
User=${POOL_USER}
Group=${POOL_USER}

WorkingDirectory=${XMR_P2POOL_DIR}
ExecStart=${XMR_P2POOL_DIR}/start-p2pool.sh

Restart=on-failure
RestartSec=10

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
