{
    "btcd" : [
        {
            "url" : "127.0.0.1:14022",
            "auth" : "digibyterpc",
            "pass" : "__RPC_PASSWORD__",
            "notify" : true
        }
    ],
    "btcaddress" : "${DGB_WALLET_ADDRESS}",
    "btcsig" : "Solo Pool DGB",
    "blockpoll" : 100,
    "update_interval" : 30,
    "serverurl" : [
        "0.0.0.0:${DGB_STRATUM_PORT}"
    ],
    "mindiff" : 1,
    "startdiff" : 16,
    "maxdiff" : 0,
    "logdir" : "${DGB_CKPOOL_DIR}/logs"
}
