{
    "btcd" : [
        {
            "url" : "127.0.0.1:8332",
            "auth" : "bitcoinrpc",
            "pass" : "__RPC_PASSWORD__",
            "notify" : true
        }
    ],
    "btcaddress" : "${BTC_WALLET_ADDRESS}",
    "btcsig" : "Solo Pool",
    "blockpoll" : 100,
    "update_interval" : 30,
    "serverurl" : [
        "0.0.0.0:${BTC_STRATUM_PORT}"
    ],
    "mindiff" : 1,
    "startdiff" : 42,
    "maxdiff" : 0,
    "logdir" : "${BTC_CKPOOL_DIR}/logs"
}
